<div class="form-wrapper">
  <form action="/memo" method="post">
    <div class="form-item">
      <label for="title">タイトル</label>
      <input id="title" name="title" type="text">
    </div>
    <div class="form-item">
      <label for="content">内容</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <div class="form-item">
      <input type="submit" value="保存" class="btn">
    </div>
  </form>
</div>
